.video-section-title {
    width: 100%;
}

.row-video {
    width: 100%;
    margin-bottom: 20px;
}

.video-section {
    border-bottom: solid;
}

.video-box-first {
    width: 25%;
    padding-right: 5px !important;
}

.video-box {
    width: 25%;
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.video-box-last {
    width: 25%;
    padding-left: 5px !important;
}

.video-hide {
    display: none !important;
}

.more-videos-button {
    width: 100%;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
}


.video:hover, .video-title:hover {
    cursor: pointer;
}