/*============================================================================
    CSS File for styling on the material page
=============================================================================*/

/*
    Styling the border of the box
*/
.borderline{
  border-style: solid;
  border-width: thin;
  border-color: black;
}

/*
    Styling the background of the opened box
*/
.materialpdf{
    background-color: #c3c5c0;
}

/*
    Styling the font color and position center
 */
.fontcolor{
    color: black;
    text-align: center;
}



