/*============================================================================
    CSS File for styling on the search page
=============================================================================*/

.no-results {
    text-align: center;
    font-size: 84px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.search-body {
    background-color: #F9EAD8;
    padding-top: 50px;
    padding-bottom: 50px;
}

.row-result {
    margin-bottom: 67px;
}

.building-image {
    height: 180px;
    background-color: #e8d4bd;
}

.card-title {
    color: black;
    padding-bottom: 28px;
}

/*
!*----------------------------------------------------------------------------
    Setting the width of the card content to full width
 *!
.card-body .btn {
    width: 100%;
}

!*
    Styling of the result box containing a building
 *!
.result-box {
    width: 33.33%;
    padding-left: 5px;
    padding-right: 5px;
}

!*
    Styling of one row of results
 *!
.row-result {
    margin-bottom: 20px;
}

!*----------------------------------------------------------------------------
    Styling of the image of one result card
 *!
.card-img {
    height: 200px;
}*/
