body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}


.row-no-margin {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.row-distance-sm {
    margin-bottom: 30px;
}

.row-distance {
    margin-bottom: 70px;
}

.row-distance-lg {
    margin-bottom: 100px;
}



#color-txt-primary {
    color: black;
}

#color-txt-secondary {

}

#color-bg-primary {
    background-color: #F9B848 !important;
}

#color-bg-secondary {
    background-color: #FFE0AB !important;
}

#color-btn {
    color: black;
    background-color: #F9B848;
}

#color-btn:hover {
    color: black;
    background-color: #FFE0AB;
}

#color-btn-inv {
    color: black;
    background-color: #FFE0AB;
}

#color-btn-inv:hover {
    color: black;
    background-color: #F9B848;
}