{% load static %}
{% load bootstrap4 %}

<!DOCTYPE html>
<html>
<head>
    {% include 'default_head.html' %}


    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'videos.css' %}">
    <title>Staffeln</title>

</head>
<script>
        // Function to toggle hide hidden videos
        // video_id: The ID of the era where to toggle hide the hidden videos
        function toggleHide(video_id) {
            // Get all contents with the ID of the current row
            var video_row = Array.from(document.querySelectorAll('[id='+"video-hide-"+video_id+']'));
            // Iterate through every row with the returned ID
            for (var i = 0; i < video_row.length; i++) {
                // Toggle the class 'video-hide'
                video_row[i].classList.toggle("video-hide");
            }
        }

        // Function to switch the icon on 'show more' button
        // video_id: The ID of the era where to toggle hide the hidden videos
        function changeIcon(video_id){
            // Get correct button element
            var button = document.getElementById("color-btn-video-" + video_id);

            // Change icon
            // New for new design: Set CSS for the more videos button instead
            if (button.style.transform === 'scaleY(-1) translate(0px, 50%)') {
                button.style.transform = 'scaleY(1) translate(0px, 0%)';
                // button.innerHTML = '∧';
            }
            else {
                button.style.transform = 'scaleY(-1) translate(0px, 50%)';
                // button.innerHTML = '∨';
            }

        }

        // Function to pause video if popup gets closed
        // section: ID of video section (era)
        // id: ID of video which needs to stop
        function stopPopupVideo(section, id) {
            // Get correct video element
            var video = document.getElementById("popup-video-" + section + "-" + id);
            // Define id of popup element
            var popup = "popup-" + section + "-" + id;
            // Pause correct video
            $('#' + popup).on('hidden.bs.modal', function () {
                video.pause();
            });
        }

        // Function to show the video and make it full-screen instantly
        function showFullscreenVideo(era_id, video_id) {
            // get the video
            var video = document.getElementById("video-" + era_id + "-" + video_id);
            if (!document.fullscreenElement && !document.mozFullScreenElement &&
                !document.webkitFullscreenElement && !document.msFullscreenElement) {

                // Make it fullscreen
                if (video.requestFullscreen) {
                    video.requestFullscreen();
                } else if (video.msRequestFullscreen) {
                    video.msRequestFullscreen();
                } else if (video.mozRequestFullScreen) {
                    video.mozRequestFullScreen();
                } else if (video.webkitRequestFullscreen) {
                    video.webkitRequestFullscreen(Element.ALLOW_KEYBOARD_INPUT);
                }

                // Show it
                video.style.display = 'inherit';
            }
        }

        // Hide the video after fullscreen was exited by the user
        function hideFullscreenVideo(era_id, video_id) {
            // get the video
            var video = document.getElementById("video-" + era_id + "-" + video_id);
            if (!document.webkitIsFullScreen && !document.mozFullScreen && !document.msFullscreenElement) {

                // Pause the video
                video.pause();

                // Hide it
                video.style.display = 'none';
            }
        }

        // The following function are copying from
        // https://docs.djangoproject.com/en/dev/ref/csrf/#ajax
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        function registerVideoClick(video_id) {
            // use fetch to call the add endpoint
            var url = "/analytics/add/video/"+video_id+"/";
            let csrftoken = getCookie('csrftoken');
            fetch(url, {
                method: 'POST',
                headers: { "X-CSRFToken": csrftoken },
              });
        }

    </script>

<body>

    {% include './header.html' %}
    {% include './announcement.html' %}

    <div class="subheader" style="background: url('{% static 'videos-head-background.png' %}');">
        <div class="container h-100 d-flex align-items-center justify-content-center">
            <h1 class="subheader-text">STAFFELN</h1>
        </div>
    </div>

    <div class="default-page-body">
        <!-- run through all eras -->
        {% for items in Era %}
            <!-- Set borders to see the eras color on the side -->
            <div class="container era-line" style="border-color: #{{ items.0.color_code }};">
                <!-- Title for each section -->
                <div class="container era-head">
                    <div class="row h-100">
                        <h1 class="era-title break-words" style="color:#{{ items.0.color_code }};">{{ items.0.name }}</h1>
                        <div class="more-button-div my-auto float-right">
                            <!-- The button on the right side, to toggle the vids of the era -->
                            <button class="button more-videos-button float-right" id="color-btn-video-{{ forloop.counter }}" onclick="toggleHide({{ forloop.counter }}),changeIcon({{ forloop.counter }})">
                                <div class="dash-symbol float-right" style="border-color:#{{ items.0.color_code }};"></div>
                            </button>
                        </div>
                    </div>
                    <!-- The date for the era -->
                    <div class="row font-benton-sans">
                        <p class="era-year" style="color:#{{ items.0.color_code }};"><b>{{ items.0.get_year_as_str }}</b></p>
                    </div>
                </div>
                <div class="row">
                    <!-- Video section for standard design -->
                    <div class="container video-section">
                        <!-- Videos in the section -->
                        {% for video in items.1 %}
                            <!-- Cases in which a new row has should be opened -->
                            {% if forloop.counter0|divisibleby:4 or forloop.first %}
                                <div class="row row-video row-no-margin video-hide" id="video-hide-{{ forloop.parentloop.counter }}">
                            {% endif %}

                            <!-- The Video Item -->
                            <div class="video-box" data-toggle="modal" title="{{ video.title }}" data-target="#popup-{{ forloop.parentloop.counter }}-{{ forloop.counter }}" onclick="registerVideoClick({{ video.pk }})">
                                <!-- Video -->
                                <img class="thumbnail w-100" src="/media/{{ video.thumbnail }}">
                                <div class="video-title truncate-title font-benton-sans" style="border-color: #{{ items.0.color_code }};">
                                    <b>{{ video.title }}</b>
                                </div>
                            </div>

                            <!-- Popup-Element -->
                            <div class="modal fade popup-bg" id="popup-{{ forloop.parentloop.counter }}-{{ forloop.counter }}" data-keyboard="false" onclick="stopPopupVideo({{ forloop.parentloop.counter }}, {{ forloop.counter }})">
                                <div class="modal-dialog modal-xl modal-dialog-centered">
                                    <div class="modal-content popup">
                                        <div class="modal-header popup-header align-items-center" style="border-color: #{{ items.0.color_code }};">
                                            <!-- Header row of popup -->
                                            <h4 class="modal-title popup-title truncate-title font-benton-sans" data-toggle="tooltip" title="{{ video.title }}"><b>{{ video.title }}</b></h4>
                                            <button type="button" class="close popup-close-button font-benton-sans" data-dismiss="modal">&times;</button>
                                        </div>
                                        <div class="modal-body popup-body">
                                            <!-- Body of popup which contains the video -->
                                            <video preload="none" poster="/media/{{ video.thumbnail }}" id="popup-video-{{ forloop.parentloop.counter }}-{{ forloop.counter }}" width="100%" controls oncontextmenu="return false;" controlsList="nodownload">
                                                <source src="{{ video.video.url }}" type="video/mp4">
                                                {{ video.title }}
                                            </video>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End of Popup def -->

                            <!-- Cases in which the tag must be closed -->
                            <!-- If it is at end of the row, or the video -->
                            {% if forloop.last or forloop.counter|divisibleby:4 %}
                                <!-- Close row div here -->
                                </div>
                            {% endif %}
                        <!-- If there are no vids in an era, display it -->
                        {% empty %}
                            <div class="row row-video row-no-margin video-hide" id="video-hide-{{ forloop.counter }}">
                                <b class="no-videos-text w-100 text-center video-title font-benton-sans" style="border: 0px;">Keine Videos in dieser Epoche vorhanden.</b>
                            </div>
                        {% endfor %}
                    </div>

                    <!-- For mobile design -->
                    <div class="container video-section-mobile">
                        <!-- Videos in the section -->
                        {% for video in items.1 %}
                            <!-- Cases in which a new row has should be opened -->
                            {% if forloop.counter0|divisibleby:2 or forloop.first %}
                                <div class="row row-video row-no-margin video-hide" id="video-hide-{{ forloop.parentloop.counter }}">
                            {% endif %}
                                  
                            <!-- The Video Item -->
                            <div class="video-box col-sm-6" title="{{ video.title }}" onclick="showFullscreenVideo({{ forloop.parentloop.counter }},{{ forloop.counter }}),registerVideoClick({{ video.pk }})">
                                <!-- Video -->
                                <img class="thumbnail w-100" src="/media/{{ video.thumbnail }}">
                                <div class="video-title break-words truncate-title-alternative font-benton-sans" style="border-color: #{{ items.0.color_code }};">
                                    <b>{{ video.title }}</b>
                                </div>
                            </div>

                            <!-- Definition of fullscreen element -->
                            <div class="fullscreen-vid">
                                <!-- Body of popup which contains the video -->
                                <video preload="none" poster="/media/{{ video.thumbnail }}" id="video-{{ forloop.parentloop.counter }}-{{ forloop.counter }}" width="100%" controls oncontextmenu="return false;" controlsList="nodownload" style="display: none !important;">
                                    <source src="{{ video.video.url }}" type="video/mp4">
                                    {{ video.title }}
                                </video>
                                <!-- Add a script which will trigger if fullscreen state changes  -->
                                <script>
                                    document.getElementById("video-{{ forloop.parentloop.counter }}-{{ forloop.counter }}").addEventListener('fullscreenchange', function (e) {
                                        hideFullscreenVideo({{ forloop.parentloop.counter }}, {{ forloop.counter }});
                                    });
                                </script>
                            </div>
                            <!-- End of fullscreen vid def -->

                            <!-- Cases in which the tag must be closed -->
                            <!-- If it is at end of the row, or the video -->
                            {% if forloop.last or forloop.counter|divisibleby:2 %}
                                <!-- Close row div here -->
                                </div>
                            {% endif %}
                            <!-- If there are no vids in an era, display it -->
                            {% empty %}
                            <div class="row row-video row-no-margin video-hide" id="video-hide-{{ forloop.counter }}">
                                <b class="no-videos-text w-100 text-center video-title font-benton-sans" style="border: 0px;">Keine Videos in dieser Epoche vorhanden.</b>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            {% if not forloop.last %}
                <!-- Put an extra div in between the eras, exept after the last, to put the gradient there -->
                <div class="container gradient-line" style="background-image: linear-gradient(to bottom, #{{ items.0.color_code }} 0%, #{{ items.2 }} 100%);">

                </div>
            {% endif %}
        {% endfor %}
    </div>

    {% include './footer.html' %}
    {% include './mobile_nav_footer.html' %}

</body>
</html>
