{% load static %}
{% load bootstrap4 %}


<!DOCTYPE html>
<html>
<head>
    {% include 'default_head.html' %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'detailed.css' %}">

    <script>
        // Function to pause video if popup gets closed
        // id: ID of video which needs to stop
        function stopPopupVideo(id) {
            // Get correct video element
            var video = document.getElementById("popup-video-" + id);
            // Define id of popup element
            var popup = "popup-" + id;
            // Pause correct video
            $('#' + popup).on('hidden.bs.modal', function () {
                video.pause();
            });
        }

        // Function to start video on specific timestamp
        // id: Video ID of video which gets started
        // minutes: Minutes on which video gets started
        // seconds: Seconds on which video gets started
        function startVideoOnTimestamp(id, minutes, seconds) {
            // Get correct video element
            var video = document.getElementById("popup-video-" + id);
            // Calculate timestamp in seconds
            var timestamp = (minutes * 60) + seconds;

            // Set time of video on timestamp if it wasn't already started
            if (video.readyState !== 4) {
                video.currentTime = timestamp;
            }
        }
    </script>
</head>
<body>

    {% include './header.html' %}

    <div class="container container-page">
        <div class="row details-box" style="border-color: #{{ Era.color_code }}">
            <div class="col">
                <!-- Create table of all details of the building -->
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td>
                                Ort/Region
                            </td>
                            <td class="break-words">
                                {% if Ort != None %}
                                    {{ Ort }}
                                {% endif %}
                                {% if Region != None %}
                                    / {{ Region }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Land
                            </td>
                            <td class="break-words">
                                {% if Land != None %}
                                    {{ Land }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Datierung
                            </td>
                            <td class="break-words">
                                {% if Datum_Jahrhundert %}
                                    {% if Datum_ca %}
                                        Ca.
                                    {% endif %}
                                    {% if Datum_von != None %}
                                        {{ Datum_von }}. Jh. {{ Datum_von_BC_oder_AD }}
                                    {% endif %}
                                    {% if Datum_bis != None %}
                                        - {{ Datum_bis }}. Jh. {{ Datum_bis_BC_oder_AD }}
                                    {% endif %}
                                {% else %}
                                    {% if Datum_ca %}
                                        Ca.
                                    {% endif %}
                                    {% if Datum_von != None %}
                                        {{ Datum_von }} {{ Datum_von_BC_oder_AD }}
                                    {% endif %}
                                    {% if Datum_bis != None %}
                                        - {{ Datum_bis }} {{ Datum_bis_BC_oder_AD }}
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Architekt
                            </td>
                            <td class="break-words">
                                {% if Architekt != None %}
                                    {{ Architekt }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>

                            </td>
                            <td>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                Kontext
                            </td>
                            <td class="break-words">
                                {% if Kontext_Lage != None %}
                                    {{ Kontext_Lage }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Bauherr
                            </td>
                            <td class="break-words">
                                {% if Bauherr != None %}
                                    {{ Bauherr }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>

                            </td>
                            <td>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                Bautypus
                            </td>
                            <td class="break-words">
                                {% if Bautypus != None %}
                                    {{ Bautypus }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Bauform
                            </td>
                            <td class="break-words">
                                {% if Bauform != None %}
                                    {{ Bauform }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Gattung/Funktion
                            </td>
                            <td class="break-words">
                                {% if Gattung_Funktion != None %}
                                    {{ Gattung_Funktion }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>

                            </td>
                            <td>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                Dimension
                            </td>
                            <td class="break-words">
                                {% if Länge != None %}
                                    {{ Länge }}m
                                {% endif %}
                                {% if Breite != None %}
                                     x {{ Breite }}m
                                {% endif %}
                                {% if Höhe != None %}
                                     x {{ Höhe }}m
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Säulenordnung
                            </td>
                            <td class="break-words">
                                {% if Säulenordung != None %}
                                    {{ Säulenordung }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Konstruktion
                            </td>
                            <td class="break-words">
                                {% if Konstruktion != None %}
                                    {{ Konstruktion }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Material
                            </td>
                            <td class="break-words">
                                {% if Material != None %}
                                    {{ Material }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>

                            </td>
                            <td>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                Literatur
                            </td>
                            <td class="break-words">
                                {% if Literatur != None %}
                                    {{ Literatur }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Weiterführende Links
                            </td>
                            <td class="break-words">
                                {% if Links != None %}
                                    {% for link in Links %}
                                        <a href="{{ link }}" target="_blank">{{ link }}</a><br>
                                    {% endfor %}
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col">
                <!-- Add images, blueprints and name of building -->
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td>
                                {% with image_length=Bilder|length blueprints_length=Baupläne|length %}
                                    {% if image_length|add:blueprints_length <= 1 %}
                                        {% if Bilder|length == 0 and Baupläne|length == 0 %}
                                            <!-- Add default image if there are no images/blueprints -->
                                            <img src="{% static "default_image.png"  %}" style="width: 100%;">
                                        {% else %}
                                            <!-- Add image/blueprint if there is only one image/blueprint -->
                                            {% if Baupläne|length == 0 %}
                                                {% for image in Bilder %}
                                                    <img class="d-block w-100" src="/media/{{ image.picture }}">
                                                {% endfor %}
                                            {% else %}
                                                {% for blueprints in Baupläne %}
                                                    <img class="d-block w-100" src="/media/{{ blueprints.blueprint }}">
                                                {% endfor %}
                                            {% endif %}
                                        {% endif %}
                                    {% else %}
                                        <!-- Add image carousel if there are more than one images/blueprints -->
                                        <div id="details_images" class="carousel slide" data-interval="false">
                                            <ol class="carousel-indicators">
                                                <!-- Add element for images to carousel -->
                                                {% for image in Bilder %}
                                                    {% if forloop.first %}
                                                        <li data-target="#details_images" class="active"></li>
                                                    {% else %}
                                                        <li data-target="#details_images"></li>
                                                    {% endif %}
                                                {% endfor %}
                                                <!-- Add element for blueprints to carousel -->
                                                {% for blueprints in Baupläne %}
                                                    {% if forloop.first and Bilder|length == 0%}
                                                        <li data-target="#details_images" class="active"></li>
                                                    {% else %}
                                                        <li data-target="#details_images"></li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ol>

                                            <div class="carousel-inner">
                                                {% if Bilder|length == 0 and Baupläne|length == 0 %}
                                                    <img src="{% static "default_image.png"  %}" style="width: 100%;">
                                                {% else %}
                                                    <!-- Add images to carousel -->
                                                    {% for image in Bilder %}
                                                        {% if forloop.first %}
                                                            <div class="carousel-item active">
                                                        {% else %}
                                                            <div class="carousel-item">
                                                        {% endif %}
                                                            <img class="d-block w-100" src="/media/{{ image.picture }}">
                                                        </div>
                                                    {% endfor %}
                                                    <!-- Add blueprints to carousel -->
                                                    {% for blueprints in Baupläne %}
                                                        {% if forloop.first and Bilder|length == 0 %}
                                                            <div class="carousel-item active">
                                                        {% else %}
                                                            <div class="carousel-item">
                                                        {% endif %}
                                                            <img class="d-block w-100" src="/media/{{ blueprints.blueprint }}">
                                                        </div>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>

                                            <!-- Add carousel controls -->
                                            <a class="carousel-control-prev" href="#details_images" role="button" data-slide="prev">
                                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                            <a class="carousel-control-next" href="#details_images" role="button" data-slide="next">
                                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                <span class="sr-only">Next</span>
                                            </a>
                                        </div>
                                    {% endif %}
                                {% endwith %}
                            </td>
                        </tr>
                        <!-- Add name of building -->
                        {% if Beschreibung == None or Beschreibung|length == 0%}
                            <tr>
                                <td class="break-words">
                                    <h3 class="heading-no-margin">{{ Name }}</h3>
                                </td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>

                <!-- Add name and description of building -->
                {% if not Beschreibung == None and not Beschreibung|length == 0%}
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td class="break-words">
                                    <!-- Add name -->
                                    <h3 class="heading-no-margin">{{ Name }}</h3>
                                </td>
                            </tr>
                            <tr>
                                <td class="break-words">
                                    <!-- Add description -->
                                    {{ Beschreibung }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                {% endif %}

                <!-- Add videos in which the building occurs -->
                {% if not Videos == None and not Videos|length == 0%}
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td>
                                    <div class="row row-no-margin">
                                        <!-- Iterate through videos -->
                                        {% for timestamp in Videos %}
                                            <div class="video-box" data-toggle="modal" data-target="#popup-{{ forloop.counter }}" onclick="startVideoOnTimestamp({{ forloop.counter }},{{ timestamp.minutes }},{{ timestamp.seconds }})">
                                                {% if forloop.counter <= 4 %}
                                                    <table class="table table-bordered video-first-row">
                                                {% else %}
                                                    <table class="table table-bordered video-rest-row">
                                                {% endif %}
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <!-- Add video icon -->
                                                                <img src="{% static "videomarketing.png" %}" width="100%">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="break-words">
                                                                <!-- Add title of video -->
                                                                {{ timestamp.video.title }}<br>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                            <!-- Add popup in which the video gets played -->
                                            <div class="modal" id="popup-{{ forloop.counter }}" data-keyboard="false" onclick="stopPopupVideo({{ forloop.counter }})">
                                                <div class="modal-dialog modal-xl modal-dialog-centered">
                                                    <div class="modal-content">
                                                        <!-- Header of popup -->
                                                        <div class="modal-header">
                                                            <h4 class="modal-title">{{ timestamp.video.title }}</h4>
                                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                        </div>
                                                        <!-- Body of popup which contains the video -->
                                                        <div class="modal-body">
                                                            <video id="popup-video-{{ forloop.counter }}" width="100%" controls preload="none" poster="/media/{{ timestamp.video.thumbnail }}" oncontextmenu="return false;" controlsList="nodownload">
                                                                <source src="{{ timestamp.video.video.url }}" type="video/mp4">
                                                                {{ timestamp.title }}
                                                            </video>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    </div>

    {% include './footer.html' %}
</body>
</html>