{% load static %}
{% load bootstrap4 %}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'start.css' %}">
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='slim' %}
</head>

<body>

    {% include './header.html' %}


    <!-- Intro-Video -->
    <div class="container">
        <div class="row row-distance-sm">
            <b>{{video.title}}</b>
        </div>
        <div class="row row-distance-sm">
            <video width="100%" controls preload>
                <source src="{{video.video.url}}" type="video/mp4">
                <b>{{video.title}}</b>
            </video>
        </div>
        <div class="row row-distance-lg">
        <!-- Description text for the webapplikation -->
            Diese Webanwednung soll die Vorlesung 'Klassische Architektur und Städtebau der Antike' begleiten.
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
            sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
            At vero eos et accusam et justo duo dolores et ea rebum.
            Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
            consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
            sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
            Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
        </div>
    </div>

</body>
</html>