{% load static %}
{% load bootstrap4 %}

<!DOCTYPE html>
<html>
<head>
    {% include 'default_head.html' %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'start.css' %}">
</head>

<body>

    {% include './header.html' %}

    <div class="container-fluid start-title">
        <div class="container-fluid w-100 px-0 start-image-container">
            <img class="img-fluid w-100 start-image" src="{% static 'start-head-background.png' %}" width="100%" height="auto">
            <div class="title">
                <h1 class="title-text text-center">RUINS AND BEYOND!</h1>
            </div>
        </div>
    </div>
    <div class="container-fluid start-video p-3">
        <div class="container">
            <p class="welcome-text"><b>Herzlich Willkommen!</b></p>
            <!-- Intro Video -->
            <video width="100%" controls="controls" preload="none" poster="/media/{{ Video.thumbnail }}" oncontextmenu="return false;" controlsList="nodownload">
                <source src="{{Video.video.url}}" type="video/mp4">
                <b>{{Video.title}}</b>
            </video>
            <!-- Description text for the webapplikation -->
            <br>
            <p align="justify">
                Die Vorlesung Architektur und Städtebau der Antike soll in ein zeitgemäßes digitales Format
                überführt werden. Hierfür möchten wir eine digitale Wissensplattform zur Architekturgeschichte der Antike als Webanwendung aufbauen,
                mit der die Studierenden auf der Basis des zur Verfügung gestellten Materials die Lehreinheiten selbstbestimmt
                kombinieren und absolvieren können. Die bislang 13 1,5-stündigen Vorlesungen, die einen chronologischen Überblick
                über den Wandel der Architektur in der Antike zum Gegenstand haben, werden zu 72 15-minütigen Videos umgewandelt
                und durch einen Bauwerkskatalog bestehend aus 220 Steckbriefen mit grundlegenden Charakteristiken ergänzt.</p>
        </div>
    </div>
    <div class="container-fluid start-linkboxes">
        <div class="container">
            <p><b>Anhand des Web-Tools Ruins and Beyond! werden diese Daten auf unterschiedlichen Wegen miteinander verknüpft:</b></p>
            <div class="card-deck">
              <!-- Card: Zeitachse -->
              <a class="card" href="{% url 'timeline:timeline' %}">
                <div class="card-body">
                  <h5 class="card-title">ZEITACHSE</h5>
                  <p class="card-text">Auf der Zeitachse werden die Einzel-bauten mit ihren Charakteristiken und zugehörigen Vorlesungsvideos über Bild-Buttons abrufbar gemacht.</p>
                </div>
                <img class="card-img-bottom" src="{% static 'timeline-head-background.png' %}" alt="Zeitachse Hintergrundbild">
              </a>
              <!-- Card: Bauwerke -->
              <a class="card" href="{% url 'filter_page:filter' %}">
                <div class="card-body">
                  <h5 class="card-title">BAUWERKE</h5>
                  <p class="card-text">Im Reiter Bauwerke werden die Gebäude thematisch abgefragt und zusammen-gestellt. Auch ermöglicht die Filter-funktion eine gezielte Auswahl bestimmter Gebäudegruppen.</p>
                </div>
                <img class="card-img-bottom" src="{% static 'filter-head-background.png' %}" alt="Zeitachse Hintergrundbild">
              </a>
              <!-- Card: Staffeln -->
              <a class="card" href="{% url 'video_content:videos' %}">
                <div class="card-body">
                  <h5 class="card-title">STAFFELN</h5>
                  <p class="card-text">Im Reiter Staffeln werden alle vorhandenen Videos in chronologischer Reihenfolge und nach Epoche sortiert aufgelistet.</p>
                </div>
                <img class="card-img-bottom" src="{% static 'videos-head-background.png' %}" alt="Zeitachse Hintergrundbild">
              </a>
            </div>
        </div>
    </div>

    {% include './footer.html' %}

</body>
</html>

<!--    Intro-Video -->
<!--    <div class="container container-page">-->
<!--        <div class="row row-distance-sm">-->
<!--            <h1>Herzlich Willkommen!</h1>-->
<!--            <video width="100%" controls="controls" preload="none" poster="/media/{{ Video.thumbnail }}" oncontextmenu="return false;" controlsList="nodownload">-->
<!--                <source src="{{Video.video.url}}" type="video/mp4">-->
<!--                <b>{{Video.title}}</b>-->
<!--            </video>-->
            <!-- Description text for the webapplikation -->
<!--            <p align="justify">Die Vorlesung Architektur und Städtebau der Antike soll in ein zeitgemäßes digitales Format überführt werden.-->
<!--            Hierfür möchten wir eine digitale Wissensplattform zur Architekturgeschichte der Antike als Webanwendung aufbauen,-->
<!--            mit der die Studierenden auf der Basis des zur Verfügung gestellten Materials die Lehreinheiten selbstbestimmt-->
<!--            kombinieren und absolvieren können. Die bislang 13 1,5-stündigen Vorlesungen, die einen chronologischen Überblick-->
<!--            über den Wandel der Architektur in der Antike zum Gegenstand haben, werden zu 72 15-minütigen Videos umgewandelt-->
<!--                und durch einen Bauwerkskatalog bestehend aus 220 Steckbriefen mit grundlegenden Charakteristiken ergänzt.</p><br>-->
<!--            Anhand des Web-Tools Ruins and Beyond! werden diese Daten auf unterschiedlichen Wegen miteinander verknüpft:-->
<!--            <ol>-->
<!--                <li><a href="{% url "timeline:timeline" %}">Zeitachse</a>: Auf der Zeitachse werden die Einzelbauten mit-->
<!--                    ihren Charakteristiken und zugehörigen Vorlesungsvideos über Bild-Buttons abrufbar gemacht.</li>-->
<!--                <li><a href="{% url "filter_page:filter" %}">Bauwerke</a>: Im Reiter Bauwerke werden die Gebäude thematisch-->
<!--                    abgefragt und zusammengestellt. Auch ermöglicht die Filterfunktion eine gezielte Auswahl bestimmter Gebäudegruppen.</li>-->
<!--                <li><a href="{% url "video_content:videos" %}">Staffeln</a>: Im Reiter Staffeln werden alle vorhandenen-->
<!--                    Videos in chronologischer Reihenfolge und nach Epoche sortiert aufgelistet</li>-->
<!--            </ol>-->
<!--        </div>-->
<!--    </div>-->
