/*============================================================================
    CSS File for styling on the impressum page
=============================================================================*/

.impressum-body {
    background-color: #F9EAD8;
    padding-top: 50px;
    padding-bottom: 34px;
}