{% load static %}
{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'default_head.html' %}
    <meta charset="UTF-8">
    <title>Analyseseite</title>
    <link rel="stylesheet" type="text/css" href="{% static 'analytics.css' %}">
    <!-- Add scripts to set/update the url parameters -->
    <script>
        // param order always has to be this: month first, then year.
        // Function to add the month to URL
        // month: The choosen month, which gets updated to the URL.
        function setParameterMonth(month){
            // Get current URL
            var curr_url = location.href;
            // Prepare parameter to fit our definitions
            var param = 'month=' + month;
            // If year is in params, safe it:
            var year = '';
            if (curr_url.includes('&year=')) {
                year = '&year=' + curr_url.split('&year=')[1];
            }
            // Get rid of all parameters
            if (curr_url.includes('?')) {
                curr_url = curr_url.split('?')[0];
            }
            // Add parameter to URL
            curr_url += '?'+ param + year;
            // Set new URL and reload page
            location.href = curr_url;
        }
        // Function to add the year to URL
        // month: The choosen year, which gets updated to the URL.
        function setParameterYear(year){
            // Get current URL
            var curr_url = location.href;
            // Prepare parameter to fit our definitions
            var param = 'year=' + year;
            // Get rid of the year parameter
            if (curr_url.includes('&')) {
                curr_url = curr_url.split('&')[0];
            }
            // Add parameter to URL
            curr_url += '&' + param;
            // Set new URL and reload page
            location.href = curr_url;
        }
    </script>
</head>
<body>

    {% include './header.html' %}
    {% include './announcement.html' %}

    <div class="subheader" style="background: url('{% static 'materials-head-background.png' %}');">
        <div class="container d-flex h-100 align-items-center justify-content-center">
            <h1 class="subheader-text">ANALYSESEITE</h1>
        </div>
    </div>

    <div class="container-fluid m-0 dropdown-row">
        <div class="container">
            <div class="row">
                <div class="col-4 dropdown-text-color d-flex justify-content-center align-items-center">
                    Monat und Jahr auswählen:
                </div>
                <!-- Add month dropdown button -->
                <div class="dropdown col-4 d-flex justify-content-center align-items-center">
                    <button class="btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <!-- Name of Dropdown -->
                        {{ month }}<div class="dash-symbol float-right"></div>
                    </button>
                    <!-- Add dropdown menus -->
                    <div class="dropdown-menu pre-scrollable" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" onclick="setParameterMonth('1')">Januar</a>
                        <a class="dropdown-item" onclick="setParameterMonth('2')">Februar</a>
                        <a class="dropdown-item" onclick="setParameterMonth('3')">März</a>
                        <a class="dropdown-item" onclick="setParameterMonth('4')">April</a>
                        <a class="dropdown-item" onclick="setParameterMonth('5')">Mai</a>
                        <a class="dropdown-item" onclick="setParameterMonth('6')">Juni</a>
                        <a class="dropdown-item" onclick="setParameterMonth('7')">Juli</a>
                        <a class="dropdown-item" onclick="setParameterMonth('8')">August</a>
                        <a class="dropdown-item" onclick="setParameterMonth('9')">September</a>
                        <a class="dropdown-item" onclick="setParameterMonth('10')">Oktober</a>
                        <a class="dropdown-item" onclick="setParameterMonth('11')">November</a>
                        <a class="dropdown-item" onclick="setParameterMonth('12')">Dezember</a>
                    </div>
                </div>
                <!-- Add year dropdown button -->
                <div class="dropdown col-4 d-flex justify-content-center align-items-center">
                    <button class="btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <!-- Name of Dropdown -->
                        {{ year }}<div class="dash-symbol float-right"></div>
                    </button>
                    <!-- Add dropdown menus -->
                    <div class="dropdown-menu pre-scrollable" aria-labelledby="dropdownMenuButton">
                        {% for ps in possible_years %}
                            <a class="dropdown-item" onclick="setParameterYear('{{ ps }}')">{{ ps }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="default-page-body">
        <div class="container">

            <!-- Explanation and hints for site use -->
            <div class="hint">
                <p><b>Einordnung und Nutzungshinweise:</b></p>
                <ul>
                    <li>Alle hier genannten Zahlen sind absolute Angaben. Es werden ausdrücklich keine Nutzer gezählt, sondern jeder Aufruf einzeln. Die tatsächliche Anzahl der Nutzer dürfte also um ein vielfaches kleiner sein, da jeder Nutzer wahrscheinlich sehr viele Aufrufe von Unterseiten, Gebäuden, usw. tätigt.</li>
                    <li>Diese Seite ist nur Admins (Mitgliedern mit "Staff"-Status) zugänglich, und kann nicht betrachtet werden, wenn man sich nur ("normal") mit der TU-ID einloggt - ein Login mit Admin-Passwort (wie fürs Admin-Interface) ist erforderlich.</li>
                    <li>Die gezeigten Aufrufzahlen sind jeweils absteigend sortiert (meist-besuchtes Element zuerst).</li>
                    <li>Wähle Monat und Jahr oben im Dropdown Menü aus, um die entsprechende Erhebung des Monats zu betrachten.</li>
                    <li>Unten findet sich die Zusammenfassung für das aktuelle Semester, darunter die Erhebung des ausgewählten Monats.</li>
                    <li>Die Verlinkungen führen jeweils direkt zu dem Element, das in der Zeile erfasst wurde. So kann man sich z.B. direkt selbst schnell das meist angesehene Gebäude anschauen. Diese öffnen sich in neuen Tabs, sodass die Analyseseite offen bleibt.</li>
                    <li>Am unteren Ende der Seite können die älteren Analysedaten gelöscht werden.</li>
                    <li>Das Zusammenfassungs-Diagramm ist interaktiv: Klickt man auf Elemente der Legende, kann man Datensätze ein- oder ausblenden, das Diagramm passt sich entsprechend an. Fährt man mit der Maus über Datenpunkte im Diagramm, bekommt man die Werte zu diesem Punkt angezeigt. Wählt man z.B. "Alle erhobenen Zugriffe" ab, dann kann man sich gut die Aufteilung auf die einzelnen Bereiche ansehen.</li>
                    <li>Das Zusammenfassungs-Diagramm kann man mittels Rechtsklick wie ein Bild herunterladen.</li>
                </ul>
            </div>

            <!-- Chart for the semester -->
            <h2>Zusammenfassung für das {{ semester }}:</h2>
            <canvas id="myChart" max-height="200px !important;"></canvas>
            <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
            <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
            <script type="text/javascript">
                $.get('{% url 'analytics:line_chart_json' %}', function(data) {
                    var ctx = $("#myChart").get(0).getContext("2d");
                    new Chart(ctx, {
                        type: 'line', data: data
                    });
                });
            </script>

            <!-- analytics for this month and year -->
            <h2>Detailreiche Erhebung für {{ month }} {{ year }}:</h2>
            <h3>Besuchszahlen der Unterseiten:</h3>
            <p><b>Gesamtzahl: {{ pages_count }}.</b></p>
            <table class="w-100">
                <tr>
                    <th class="break-words">
                        Unterseite
                    </th>
                    <th class="break-words">
                        Anzahl der Besuche
                    </th>
                    <th class="break-words">
                        Weiterleitung zum Element
                    </th>
                </tr>
                {% for page in pages %}
                <tr>
                    <td class="break-words">
                        {{ page.name }}
                    </td>
                    <td>
                        {{ page.visits }}
                    </td>
                    <td class="truncate-title" title="{{ page.site_url }}">
                        <a href="{{ page.site_url }}" target="_blank">{{ page.site_url }}</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td class="no-data" colspan="3"><i>Keine Daten vorhanden.</i></td>
                </tr>
                {% endfor %}
            </table>
            <h3>Besuchte Gebäude:</h3>
            <p><b>Gesamtzahl: {{ buildings_count }}.</b></p>
            <table class="w-100">
                <tr>
                    <th class="break-words">
                        Gebäude (ID)
                    </th>
                    <th class="break-words">
                        Anzahl der Besuche
                    </th>
                    <th class="break-words">
                        Weiterleitung zum Element
                    </th>
                </tr>
                {% for building in buildings %}
                <tr>
                    <td class="break-words">
                        {{ building.name }}
                    </td>
                    <td>
                        {{ building.visits }}
                    </td>
                    <td class="truncate-title" title="{{ building.site_url }}">
                        <a href="{{ building.site_url }}" target="_blank">{{ building.site_url }}</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td class="no-data" colspan="3"><i>Keine Daten vorhanden.</i></td>
                </tr>
                {% endfor %}
            </table>
            <h3>Videoaufrufe:</h3>
            <p><b>Gesamtzahl: {{ video_count }}</b></p>
            <p><i>Hinweis: Videos würden normalerweise in den Pop-Ups zu sehen sein, die Weiterleitung öffnet sie aber ebenfalls in neuen Tabs.</i></p>
            <table class="w-100">
                <tr>
                    <th class="break-words">
                        Video (ID)
                    </th>
                    <th class="break-words">
                        Anzahl der Aufrufe
                    </th>
                    <th class="break-words">
                        Weiterleitung zum Element
                    </th>
                </tr>
                {% for video in videos %}
                <tr>
                    <td class="break-words">
                        {{ video.name }}
                    </td>
                    <td>
                        {{ video.visits }}
                    </td>
                    <td class="truncate-title" title="{{ video.site_url }}">
                        <a href="{{ video.site_url }}" target="_blank">{{ video.site_url }}</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td class="no-data" colspan="3"><i>Keine Daten vorhanden.</i></td>
                </tr>
                {% endfor %}
            </table>
            <h3>Suchen:</h3>
            <p><b>Gesamtzahl: {{ search_count }}.</b></p>
            <table class="w-100">
                <tr>
                    <th  class="break-words">
                        Suchbegriff
                    </th>
                    <th  class="break-words">
                        Anzahl der Suchen
                    </th>
                    <th  class="break-words">
                        Weiterleitung zum Element
                    </th>
                </tr>
                {% for term in search_terms %}
                <tr>
                    <td class="break-words">
                        {{ term.name }}
                    </td>
                    <td>
                        {{ term.visits }}
                    </td>
                    <td class="truncate-title" title="{{ term.site_url }}">
                        <a href="{{ term.site_url }}" target="_blank">{{ term.site_url }}</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td class="no-data" colspan="3"><i>Keine Daten vorhanden.</i></td>
                </tr>
                {% endfor %}
            </table>
            <h3>Materialien:</h3>
            <p><b>Gesamtzahl: {{ pdf_count }}</b></p>
            <table class="w-100">
                <tr>
                    <th class="break-words">
                        Material (ID)
                    </th>
                    <th class="break-words">
                        Anzahl der Aufrufe
                    </th>
                    <th class="break-words">
                        Weiterleitung zum Element
                    </th>
                </tr>
                {% for pdf in pdfs %}
                <tr>
                    <td class="break-words">
                        {{ pdf.name }}
                    </td>
                    <td>
                        {{ pdf.visits }}
                    </td>
                    <td class="truncate-title" title="{{ pdf.site_url }}">
                        <a href="{{ pdf.site_url }}" target="_blank">{{ pdf.site_url }}</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td class="no-data" colspan="3"><i>Keine Daten vorhanden.</i></td>
                </tr>
                {% endfor %}
            </table>
            <h3>Downloads:</h3>
            <p><b>Gesamtzahl: {{ download_count }}</b></p>
            <table class="w-100">
                <tr>
                    <th class="break-words">
                        Material ZIP der Kategorie
                    </th>
                    <th class="break-words">
                        Anzahl der Downloads
                    </th>
                    <th class="break-words">
                        Weiterleitung zum Element
                    </th>
                </tr>
                {% for download in zip_downloads %}
                <tr>
                    <td class="break-words">
                        {{ download.name }}
                    </td>
                    <td>
                        {{ download.visits }}
                    </td>
                    <td class="truncate-title" title="{{ download.site_url }}">
                        <a href="{{ download.site_url }}" target="_blank">{{ download.site_url }}</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td class="no-data" colspan="3"><i>Keine Daten vorhanden.</i></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <div class="csv-hg">
        <div class="container csv-zone">
            <h2>Daten herunterladen:</h2>
            <p>Hier können alle Datensätze als Tabelle im .csv Dateiformat heruntergeladen werden. Diese enthält alle Rohdaten, wie sie in der Datenbank zu finden sind. Der Download enthält immer stets alle vorhandenen Daten (unabhängig davon, ob sie schon mal heruntergeladen wurden oder nicht).
                <ul>
                    <li>Hinweis: Die Bezeichnungen enthalten bei Unterseiten den Seitennamen, bei Gebäuden, Videos und Materialien den Namen und die Datenbank ID des Objektes. Bei ZIP Downloads besteht die Bezeichnung aus "ZIP", und dem Namen der heruntergeladenen Kategorie. Die URL versteht sich als alles hinter der eigentlichen Adresse (z.B. [...]ruinsandbeyond.de/[URL hier]).</li>
                    <li>Öffnen der Datei: Das .csv ("Comma separated values") Format verwendet ein bestimmtes Zeichen, um die Einträge zu trennen. Beim Öffnen der Datei mit einem regulären Tabellenverarbeitungsprogramm muss man hier das Semikolon ";" als Seperator auswählen damit es richtig formatiert wird (In den meisten Programmen der Standard).</li>
                </ul>
            <a type="button" href="{% url 'analytics:download_csv' %}" class="btn d-flex justify-content-center"><b>CSV-Tabelle herunterladen</b></a>
        </div>
    </div>

    <div class="danger-hg">
        <div class="container danger-zone">
            <h2>GEFAHRENZONE:</h2>
            <p>Hier können alle Datensätze von vorhergegangenen Monaten gelöscht werden. <b>Löschen ist unwiederbringlich.</b> Nur die Erhebung des aktuellen Monats ({{ month_curr }} {{ year_curr }}) bleibt erhalten. Falls die Daten erhalten bleiben sollen, nicht betätigen, oder vorher anderweitig notieren.</p>
            <button class="btn d-flex justify-content-center" data-toggle="modal" data-target="#confirmPopup"><b>ALLE VERALTETEN DATENSÄTZE LÖSCHEN</b></button>
        </div>
    </div>

    <!-- Popup for confirmation -->
    <div class="modal fade" id="confirmPopup" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Wirklich löschen? - Bitte bestätigen</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p><b>Das Löschen der Analyse Datensätze ist unwiederbringlich. Nur die Erhebung des aktuellen Monats ({{ month_curr }} {{ year_curr }}) bleibt erhalten. Falls die Daten erhalten bleiben sollen, nicht löschen, oder vorher anderweitig notieren.</b><br>
                Möchten sie wirklich alle Datensätze der Analyse, außer dem aktuellen Monat ({{ month_curr }} {{ year_curr }}), löschen?</p>
          </div>
          <div class="modal-footer">
              <div class="row w-100">
                  <a href="/analytics/delete/" type="button" class="w-50 btn btn-confirm-yes d-flex justify-content-center"><b>Ja</b></a>
                  <button type="button" class="w-50 btn btn-confirm-no d-flex justify-content-center" data-dismiss="modal"><b>Nein</b></button>
              </div>
          </div>
        </div>
      </div>
    </div>


    {% include './footer.html' %}
    {% include './mobile_nav_footer.html' %}

</body>
</html>