/*============================================================================
    General CSS file to define all colors
=============================================================================*/


/*----------------------------------------------------------------------------
    Primary text color
 */
#color-txt-primary {
    color: black;
}

/*
    Secondary text color
 */
#color-txt-secondary {

}

/*----------------------------------------------------------------------------
    Primary background color
 */
#color-bg-primary {
    background-color: #F9B848 !important;
}

/*
    Secondary background color
 */
#color-bg-secondary {
    background-color: #FFE0AB !important;
}

/*----------------------------------------------------------------------------
    Primary border color
 */
#color-border-primary {
    border: solid lightgray;
}

/*----------------------------------------------------------------------------
    Button color
 */
#color-btn {
    color: black;
    background-color: #F9B848;
}

/*
    Button color on mouse hover
 */
#color-btn:hover {
    color: black;
    background-color: #FFE0AB;
}

/*
    Inverted button color
 */
#color-btn-inv {
    color: black;
    background-color: #FFE0AB;
}

/*
    Inverted button color on mouse hover
 */
#color-btn-inv:hover {
    color: black;
    background-color: #F9B848;
}

/*----------------------------------------------------------------------------
    Show more videos button color
 */
#color-btn-video {
    color: gray;
}

/*
    Show more videos button color on hover
 */
#color-btn-video:hover {
    background-color: lightgray;
}

/*----------------------------------------------------------------------------
    Show download button color
 */
#color-btn-download {
    background-color: #f1efec;
}

/*----------------------------------------------------------------------------
    Show card-header background
 */
#color-bg-card-header{
    background-color: white;
}
