.footer-bar {
    height: 80px;
    background: #701F2C;
    display: flex;
}

.footer-logo {
    height: 28px;
}

.footer-menu-item {
    margin-left: 20px;
}

@media screen and (max-width: 1100px) {

    /* For responsive design: mobile devices */
    .footer-bar{
        display: none !important;
    }

}
