.remove-scrolling {
    overflow: hidden;
}

.header-bar {
    height: 70px;
    background: #1F1F1F;
}

.header-logo {
    height: 28px;
}

.search-icon {
    cursor: pointer;
    height: 12px;
}

.header-search-bar {
    position: absolute;
    z-index: 1000;
    width: 100%;
}

.header-search {
    margin-right: -15px;
}

.header-search-hide, .header-burger-hide {
    display: none;
}

.menu-icon {
    display: none !important;
    cursor: pointer;
}

.header-menu-item {
    margin-right: 20px;
}


@media screen and (max-width: 1100px) {

    /* Responsive design for mobile */

    /* Show the hamburger menu icon in the header */
    .menu-icon, .hamtogglebtn {
        display: inherit !important;
    }

    .menu-icon {
        height: 10px !important;
        margin-left: 10px;
    }

    /* Hide the menu items, the "move" to the hamburger menu */
    .header-menu-item {
        display: none !important;
        margin-right: 10px;
    }

    .items {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    /* The hamburger menu */
    .burger-menu {
        position: fixed;
        z-index: 999;
        min-height: 92vh;
        height: 92vh;
        width: 100%;
        background-color: rgba(31, 31, 31, 0.95);
    }

    /* Set the font size */
    .burger-menu-item {
        font-size: 34px;
    }

    /* and the search icon height, within the hamburger menu */
    .search-icon-hamburger {
        margin-top: 15px;
        height: 25px;
    }

}
