/*============================================================================
    General CSS file for styling on every page
=============================================================================*/

.subheader {
    background-color: #1F1F1F !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    height: 500px;
}

.subheader-small {
    background-color: #1F1F1F !important;
    background-position: top !important;
    background-repeat: no-repeat !important;
    height: 250px;
}

/* Responsive design for the subheader */
@media screen and (max-width: 1100px) {
    .subheader {
        background-color: #1F1F1F !important;
        background-position: bottom !important;
        background-repeat: no-repeat !important;
        background-size: contain !important;
        height: 220px;
    }
    .subheader-text {
        font-size: 34px;
        text-align: center;
    }
}


/*----------------------------------------------------------------------------
    Add to Bootstrap .container to get the default spacing
 */

.heading-no-margin {
    margin-bottom: 0 !important;
}

/*----------------------------------------------------------------------------
    Add to Bootstrap .row to remove the margin
 */
.row-no-margin {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.col-no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

/*
    Add to Bootstrap .row to add a small spacing on bottom
 */
.row-distance-sm {
    margin-bottom: 30px;
}

/*
    Add to Bootstrap .row to add a normal spacing on bottom
 */
.row-distance {
    margin-bottom: 70px;
}

/*
    Add to Bootstrap .row to add a large spacing on bottom
 */
.row-distance-lg {
    margin-bottom: 100px;
}

/*----------------------------------------------------------------------------
    Add this class to add a line break for too long words
 */
.break-words {
    overflow-wrap: break-word;
    word-wrap: break-word;

    word-break: break-word;

    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

/*----------------------------------------------------------------------------
    Styling of the 'back to top' button
 */
.back-to-top {
    color: #CAA36E !important;
    background-color: #1F1F1F;
    font-weight: 700 !important;
    position: fixed;
    bottom: 20px;
    left: 20px;
    padding: 0 11px 6px 11px;
    transform: rotate(90deg);
    z-index: 998;
}

@media screen and (max-width: 1100px) {
    .back-to-top {
        bottom: 75px;
    }
}
