/*============================================================================
    General CSS file for styling on every page
=============================================================================*/

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*----------------------------------------------------------------------------
    Add to Bootstrap .container to get the default spacing
 */
.container-page {
    margin-bottom: 100px;
}

.heading-no-margin {
    margin-bottom: 0 !important;
}

/*----------------------------------------------------------------------------
    Add to Bootstrap .row to remove the margin
 */
.row-no-margin {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

/*
    Add to Bootstrap .row to add a small spacing on bottom
 */
.row-distance-sm {
    margin-bottom: 30px;
}

/*
    Add to Bootstrap .row to add a normal spacing on bottom
 */
.row-distance {
    margin-bottom: 70px;
}

/*
    Add to Bootstrap .row to add a large spacing on bottom
 */
.row-distance-lg {
    margin-bottom: 100px;
}

.break-words {
    overflow-wrap: break-word;
    word-wrap: break-word;

    word-break: break-word;

    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.back-to-top {
    font-size: 1.5rem !important;
    font-weight: 700 !important;
    border: solid 2px !important;
    position: fixed;
    bottom: 20px;
    left: 20px;
}