body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container-page {
    margin-bottom: 100px;
}


.row-no-margin {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.row-distance-sm {
    margin-bottom: 30px;
}

.row-distance {
    margin-bottom: 70px;
}

.row-distance-lg {
    margin-bottom: 100px;
}