.btn {
    width: 100%;
}

.btn:focus {
    box-shadow: none !important;
}

.btn-filter {
    margin-left: 10px;
    padding-top: 5px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 5px;
}

.btn-filter:hover {
    text-decoration: none;
    color: black;
}

.btn-filter-x {
    color: black;

    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
}

.btn-filter-x:hover {
    text-decoration: none;
    color: black;
}