/*============================================================================
    CSS File for styling on the material page
=============================================================================*/

/*----------------------------------------------------------------------------
    Styling the border of the box
*/
.borderline{
  border-style: solid;
  border-width: thin;
  border-color: black;
}

/*
    Styling the font color and position center
 */
.fontcolor{
    text-decoration: none;
    color: black;
}

/*----------------------------------------------------------------------------
    Styling of container of one PDF file
 */
.material-box {
    cursor: pointer;
    width: 12.5%;
    padding-left: 5px !important;
    padding-right: 5px !important;
}

/*
    Removes the margin of the first row of files
 */
.material-first-row {
    margin-bottom: 0px !important;
}

/*
    Adds a margin over every other row of materials
 */
.material-rest-row {
    margin-bottom: 0px !important;
    margin-top: 1rem;
}