/*============================================================================
    CSS File for styling on the material page
=============================================================================*/

/*
    Styling the border of the box
*/
.borderline{
  border-style: solid;
  border-width: thin;
  border-color: black;
}

/*
    Styling the font color and position center
 */
.fontcolor{
    color: black;
    text-align: center;
}



