{% load static %}
{% load bootstrap4 %}

<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <div class="row row-no-margin bottom-menu-bg" id="color-bg-secondary">
        <div class="container">
            <div class="row">
                <div class="col text-center bottom-menu">
                    <a href="#" id="color-txt-primary">Impressum</a>
                    <b>·</b>
                    <a href="https://moodle.tu-darmstadt.de/enrol/index.php?id=21800" target="_blank" id="color-txt-primary">Moodlekurs</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>