{% load static %}
{% load bootstrap4 %}

<!DOCTYPE html>
<html>
<head>
    <script>
        function toggleHideSearchBar() {
            var search_bar = document.getElementById("header-search");
            var search_form = search_bar.getElementsByTagName("INPUT").item(0)

            search_bar.classList.toggle("header-search-hide")
            search_form.focus()
        }
    </script>
</head>
<body>
    <div class="header-bar align-items-center d-flex">
        <div class="container">
            <div class="row items">
                <div class="col-2 col-no-padding">
                    <a href="{% url "start:start" %}">
                        <img class="header-logo" src="{% static "logo-nav.png" %}">
                    </a>
                </div>
                <div class="col col-no-padding d-flex justify-content-end align-items-center font-header">
                    <!-- Links to all sub pages of website -->
                    <a href="{% url "start:start" %}" class="header-menu-item color-primary-header">Intro</a>
                    <a href="{% url "timeline:timeline" %}" class="header-menu-item color-primary-header">Zeitachse</a>
                    <a href="{% url "filter_page:filter" %}" class="header-menu-item color-primary-header">Bauwerke</a>
                    <a href="{% url "video_content:videos" %}" class="header-menu-item color-primary-header">Staffeln</a>
                    <a href="{% url "materials_page:material" %}" class="header-menu-item color-primary-header">Materialien</a>
                    <img class="search-icon" src="{% static 'icon-search.png' %}" onclick="toggleHideSearchBar()">
                    <!-- The hamburger / overflow menu for mobile devices -->
                    <button class="btn hamtogglebtn" type="button" data-toggle="collapse" data-target="#hamburger-menu-id">
                        <img class="menu-icon" src="{% static 'icon-menu.png' %}">
                    </button>

                </div>
            </div>
        </div>
    </div>

    <div id="header-search" class="header-search-bar header-search-hide">
        <div class="container">
            <div class="row justify-content-end">
                <div class="header-search">
                    <form action="{% url 'search:search' %}" method="get">
                        <input type="search" class="form-control header-search-input" id="color-bg-secondary" placeholder="Suche" name="search_request">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- The actual hamburger menu -->
    <div class="collapse hamburger-menu" id="hamburger-menu-id">
        <div class="container">
            <div class="row">
                <div class="col">
                    <a href="{% url "start:start" %}" class="hamburger-menu-item color-primary-header">Intro</a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a href="{% url "timeline:timeline" %}" class="hamburger-menu-item color-primary-header">Zeitachse</a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a href="{% url "filter_page:filter" %}" class="hamburger-menu-item color-primary-header">Bauwerke</a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a href="{% url "video_content:videos" %}" class="hamburger-menu-item color-primary-header">Staffeln</a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a href="{% url "materials_page:material" %}" class="hamburger-menu-item color-primary-header">Materialien</a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {% if Kurs_Link|length == 0 %}
                        <a href="" class="hamburger-menu-item color-primary-header">Moodle-Kurs</a>
                    {% else %}
                        <a href="{{Kurs_Link}}" target="_blank" class="hamburger-menu-item color-primary-header">Moodle-Kurs</a>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a href="{% url "impressum:impressum" %}" class="hamburger-menu-item color-primary-header">Impressum</a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <img class="search-icon-hamburger" src="{% static 'icon-search.png' %}">
                </div>
            </div>
        </div>
    </div>

    {% comment %}<div class="row row-no-margin" id="color-bg-primary">

        <div class = "col text-left">
            <div style="padding: 45px">

            </div>
        </div>
        <!-- Logo -->
        <div class = "col align-items-center text-center">
            <a href="{% url "start:start" %}">
                <img class="header_logo" src="{% static "logoneu.png" %}">
            </a>
        </div>
        <!-- Search bar -->
        <div class = "col text-right">
            <div class="row align-items-center justify-content-end" style="height: 100%">
                <form class="header-search" action="{% url 'search:search' %}" method="get">
                    <input type="search" class="form-control header-search-input" id="color-bg-secondary" placeholder="Suche" name="search_request">
                </form>
            </div>
        </div>
    </div>
    <!-- Sub menu -->
    <div class="row row-no-margin row-distance-lg" id="color-bg-secondary">
        <div class="container">
            <div class="row">
                <div class = "col align-items-center text-center sub_menu">
                    <!-- Links to all sub pages of website -->
                    <a href="{% url "start:start" %}" class="menu_item" id="color-txt-primary">Intro</a>
                    <a href="{% url "timeline:timeline" %}" class="menu_item" id="color-txt-primary">Zeitachse</a>
                    <a href="{% url "filter_page:filter" %}" class="menu_item" id="color-txt-primary">Bauwerke</a>
                    <a href="{% url "video_content:videos" %}" class="menu_item" id="color-txt-primary">Staffeln</a>
                    <a href="{% url "materials_page:material" %}" class="menu_item" id="color-txt-primary">Materialien</a>
                </div>
            </div>
        </div>
    </div>{% endcomment %}
</body>
</html>
