/*============================================================================
    CSS File for styling on the timeline page
=============================================================================*/

/*----------------------------------------------------------------------------
    One row in the timeline
 */
.row-timeline {
    width: 100%;
}

.timeline-center {
    height: 100%;
}

/*----------------------------------------------------------------------------
    Style of the title box
 */
.card-title {
    border-bottom: solid;
    border-width: 2px;
}

.historic-title {
    margin-bottom: 0px !important;
}

.card {
    width: 70%;
}

/*
    Style of a card on the left side of the timeline
 */
.card-left {
    /*margin-right: 40%;*/
}

/*
    Style of the link between left side card and timeline center
 */
.card-left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 35px;
    width: 0;
    z-index: 1;
    right: -130px;
    border: solid;
    border-width: 4px 130px 4px 0;
    border-color: inherit;
}

/*
    Style of a card on the right side of the timeline
 */
.card-right {
    /*margin-left: 40%;*/
}

/*
    Style of the link between right side card and timeline center
 */
.card-right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 35px;
    width: 0;
    z-index: 1;
    left: -130px;
    border: solid;
    border-width: 4px 0 4px 130px;
    border-color: inherit;
}

/*
    Style of the center bar of the timeline
 */
.timeline-center-first {
    position: relative;
    z-index: -1;
    margin-top: -100px;
    height: 230%;
}

.timeline-center-last {
    height: 100%;
}

.timeline-center-last::after {
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    top: 100%;
    left: 0;

    -webkit-transform:rotate(360deg);
    border-style: solid;
    border-width: 80px 46px 0 46px;
    border-color: transparent transparent transparent;
    border-top-color: inherit;
}

.card-link {
    color: inherit !important;
}

/*.row-timeline::after {
    content: '';
    position: absolute;
    width: 50px;
    top: -100px;
    bottom: 0;
    left: 46.8%;
    margin-left: -3px;
    z-index: -1;
}*/