/*============================================================================
    CSS File for styling on the timeline page
=============================================================================*/

/* Set background color */
.timeline-background-color {
    background-color: #F9EAD8;
    margin: 0px;
    padding: 0px;
}

.timeline-container {
    height: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
}

.era-title {
    font-size: 70px;
    text-align: center;
}

.era-year {
    text-align: center;
}

.building-year {
    background-color: #F9EAD8;
    text-align: center;
    height: 36%;
}

.line {
    width: 4px;
}

.horizontal-line {
    margin-top: 6px;
    padding-right: 0px;
    width: 120%;
    height: 4px;
}

.hd-middle {
    margin-bottom: 6px;
}

.hd-text {
    margin-bottom: 6px;
}

.gradient-line {
    height: 60px;
    width: 4px;
}

.hd-line-top {
    height: 70%;
    width: 4px;
}

.pic-line {
    height: 4px;
}

.building-text {
    height: 30px !important;
}

.pic {
    margin-top: -2%;
    margin-bottom: -2%;
}

.hd-line {
    height: 100%;
    width: 4px;
}

.no-padding {
    padding: 0;
}

.centered {
    display: flex;
    width:100%;
    height: 34%;
    vertical-align: baseline;
    justify-content: center;
}

.centered-no-height {
    display: flex;
    width:100%;
    height: 30px;
    margin-right: 17px;
    justify-content: center;
}

.diamond {
    width: 16px;
    height: 16px;
    margin-top: 0px;
    padding-top: 5px;
    transform: rotate(0.125turn);
}











/*============================================================================*/
/*----------------------------------------------------------------------------
    Styling of the index of all eras
 */
/*
.index {
    position: fixed;
    right: 20px;
    bottom: 0;
    z-index: 10;
}

*/
/*
    Hide the index by default
 *//*

.index-hide {
    display: none;
}

*/
/*
    Styling of the close button of the index
 *//*

.index-button {
    position: absolute;
    right: 1.25rem;
    top: 1.25rem;
}

*/
/*
    Styling of the contents (eras) of the index
 *//*

.list-group a {
    color: black;
    text-decoration: none;
}

*/
/*----------------------------------------------------------------------------
    One row in the timeline
 *//*

.row-timeline {
    width: 100%;
}

*/
/*
    Make the center full width
 *//*

.timeline-center, .timeline-center-last {
    height: 100%;
}

*/
/*----------------------------------------------------------------------------
    Style of the title box
 *//*

.card-title {
    border-bottom: solid;
    border-width: 2px;
}

*/
/*
    Styling of the title of historic date cards
 *//*

.historic-title {
    margin-bottom: 0px !important;
}

*/
/*
    Styling of a card containing a building
 *//*

.timeline-card {
    width: 70%;
}

*/
/*
    Style of the link between left side card and timeline center
 *//*

.card-left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 35px;
    width: 0;
    z-index: -2;
    right: -130px;
    border: solid;
    border-width: 4px 130px 4px 0;
    border-color: inherit;
}

*/
/*
    Style of the link between right side card and timeline center
 *//*

.card-right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 35px;
    width: 0;
    z-index: -2;
    left: -130px;
    border: solid;
    border-width: 4px 0 4px 130px;
    border-color: inherit;
}

*/
/*
    Style of the center bar of the timeline
 *//*

.timeline-center-first {
    position: relative;
    z-index: -1;
    margin-top: -100px;
    height: 230%;
}

*/
/*
    Styling of the arrow at the end of the timeline
 *//*

.timeline-center-last::after {
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    top: 100%;
    left: 0;

    -webkit-transform:rotate(360deg);
    border-style: solid;
    border-width: 80px 46px 0 46px;
    border-color: transparent transparent transparent;
    border-top-color: inherit;
}

*/
/*
    Styling of text on each era on the center beam
 *//*

.timeline-center-text {
    writing-mode: vertical-rl;
    white-space: nowrap;
    position: absolute;
    z-index: 1;
    margin-top: 10px;
    margin-left: -20px;
}

*/
/*
    Default height of eras which contain no buildings
 *//*

.timeline-center-empty {
    height: 300px;
}

*/
/*----------------------------------------------------------------------------
    Change color of the link to default (not blue)
 *//*

.card-link {
    color: inherit !important;
}*/
