.row-no-margin {
    margin-left: 0 !important;
    margin-right: 0 !important;
}



#color-txt-primary {
    color: black;
}

#color-txt-secondary {

}

#color-bg-primary {
    background-color: #F9B848 !important;
}

#color-bg-secondary {
    background-color: #FFE0AB !important;
}