{% load static %}
{% load bootstrap4 %}
{% load app_filters %}


<!DOCTYPE html>
<html>
<head>
    {% include 'default_head.html' %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'timeline.css' %}">
</head>

<body>

    {% include './header.html' %}

    <div class="container container-page">
        {%  for item,list in items.items %}
            {{ item }}: {{ eras|key:item }}<br>
        {% endfor %}
        <br>
        {{ eras }}<br>
        <br>
        {{ items }}
    </div>

</body>
</html>
