{% load static %}
{% load bootstrap4 %}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'timeline.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'image.css' %}">
</head>

<body>

    {% include './header.html' %}


    <div>
        <section id="cd-timeline" class="cd-container">
            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-picture">
                </div>

                <div class="cd-timeline-content">
                    <h2>Karo5</h2>
            <div class="timeline-content-info">
                <span class="cd-date">Dez 10</span>
              <span class="timeline-content-info-date">
              </span>
            </div>
                    <p>
                        <img src="{% static 'card_placeholder.png' %}" class="container">
                    </p>
            </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->

            <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-movie">
            </div>

            <div class="cd-timeline-content">
                <h2>Hexagon</h2>
                <div class="timeline-content-info-date">
                       <span class="cd-date">March 12</span>
                </div>
                 <img src="{% static "card_placeholder.png" %}" class="image">
                    <div class="overlay">
                    <div class="text">
                        <a href="{% url "start:start" %}">  Hello World </a> </div>
              </div>



            </div>
        </div>

        </section> <!-- cd-timeline -->

        </div>

</body>
</html>
